<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="com.jcabi.log.MulticolorLayout">
			<param name="ConversionPattern"
				value="[%color{%p}] [%-d{yyyy-MM-dd HH:mm:ss}] %C.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/ServerManager-Info.log" />
		<param name="append" value="true" />
		<!-- <param name="maxFileSize" value="100MB" /> -->
		<param name="maxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] [%-d{yyyy-MM-dd HH:mm:ss}] %C.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="EXCEOTION" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/ServerManager-Error.log" />
		<param name="append" value="true" />
		<param name="threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] [%-d{yyyy-MM-dd HH:mm:ss}] %C.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework.scheduling">
		<level value="INFO" />
	</logger>

	<!-- 下面是打印 mybatis语句的配置 -->
	<logger name="com.ibatis" additivity="true">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.Connection" additivity="true">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.Statement" additivity="true">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
	</logger>

	<logger name="java.sql.ResultSet" additivity="true">
		<level value="DEBUG" />
	</logger>

	<Logger name="com.semioe.dubbo.dao" additivity="false">
		<level value="trace" />
	</Logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="EXCEOTION" />
	</root>
</log4j:configuration>   